/*global styling*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
p {
    padding: 10px;
    margin: 0;
    text-align: center;
    align-content: center;

}
.about-section {
    background-image:url(abtsectionimg.jpg) linear-gradient(0deg, lightgray 50%, no-repeat ) ;
    display:flex; 
    flex-direction:column;
    justify-content:center;
    min-height:100vh;
    padding-left: 10%;
    padding-right: 10%;
    

}

.about-header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    align-content: center;
    border-radius: 0.25rem;
}

.content {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
    align-content: center;
    border-radius: 0.25rem;
}

/*button styling*/
.portfolio-button {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #333;
    background-color: #E39063;
    border: 1px solid #333;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0.2rem;
}

.portfolio-button:hover {
    background-color: #E39063;
}

/* Styling button when clicked */
.portfolio-button:active {
    text-decoration: none;
    color: #333;
    background-color:#E39063;
}
